apiVersion: monitoring.coreos.com/v1alpha1
kind: AlertmanagerConfig
metadata:
  name: teams-alerts
  namespace: ops
spec:
  receivers:
    - name: ops-receiver
      slackConfigs:
        - actions:
            - text: "Runbook :green_book:"
              type: button
              url:
                '{{ if eq .Status "firing" }}{{ (index .Alerts 0).Annotations.runbook_url
                }}{{ end }}'
            - text: "Query :mag:"
              type: button
              url:
                '{{ if eq .Status "firing" }}{{ (index .Alerts 0).GeneratorURL }}{{ end
                }}'
            - text: "Dashboard :grafana:"
              type: button
              url:
                '{{ if eq .Status "firing" }}{{ (index .Alerts 0).Annotations.dashboard_url
                }}{{ end }}'
            - text:
                "{{ if .CommonAnnotations.link_text }}{{ .CommonAnnotations.link_text
                }}{{ else }}Link{{ end }} :link:"
              type: button
              url:
                '{{ if eq .Status "firing" }}{{ .CommonAnnotations.link_url }}{{ end
                }}'
          apiURL:
            key: apiUrl
            name: slack-webhook
          channel: "#ops-grafana-alerts"
          color: '{{ template "slack.color" . }}'
          iconEmoji: ":scream:"
          sendResolved: true
          text: '{{ template "slack.text" . }}'
          title: '{{ template "slack.title" . }}'
          username: "{{ title .CommonLabels.namespace }} alert"
  route:
    groupBy:
      - alertname
    groupInterval: 5m
    groupWait: 10s
    matchers:
      - matchType: =~
        name: namespace
        value: aap|arbeidsforhold|arbeidsgiver|team-inntekt|teamfrikort|teamdigisos|teamdagpenger
    receiver: ops-receiver
    repeatInterval: 1h
